<phpunit bootstrap="bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./unit</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="clover.xml" />
        </report>
    </coverage>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file suffix=".php">../src/Foo.php</file>
        </whitelist>
    </filter>
</phpunit>